# Virtual Environment
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.orig
*.rej
.*.swp
.*.swo
.DS_Store

# Django
/staticfiles/
/media/

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log
logs/